{% extends 'layout.html' %}
{% block contenido %}
<div class="formulario">
    <h2>Calificar Cita</h2>
    {% if form %}
    <form action="{{ url_for('calificar_cita',  id_fecha=fecha) }}" method="POST" onsubmit="return validar_formulario_calificacion();">
        {{ form.hidden_tag() }}
        <div class="grupo">
            {{ form.usuario.label }}
            {{ form.usuario(class="control", readonly="")}}
        </div>
        <div class="grupo">
            {{ form.nombre.label }}
            {{ form.nombre(class="control", readonly="")}}
        </div>
        <div class="grupo">
            {{ form.medico.label }}
            {{ form.medico(class="control", readonly="")}}
        </div>
        <div class="grupo">
            {{ form.fechas.label }}
            {{ form.fechas(class="control", readonly="") }}
        </div>
        <div class="grupo">
            {{ form.correo.label }}
            {{ form.correo(class="control", rows="3") }}
        </div>
        <div class="grupo">
            {{ form.calificar.label }}
            {{ form.calificar(class="control", rows="3") }}
        </div>
        <div class="grupo">
            {{ form.enviar(class="boton") }}
        </div>
        <div>
            <p id="errores"></p>
        </div>
    </form>
    {% endif %}
    
    <div class="mensaje">
        {% if mensaje %}
            {{ mensaje }}
        {% endif %}
    </div>
    <div class="grupo">
        <a href="{{ url_for('get_listado_mensajes') }}">Ir al listado</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/validacion.js') }}"></script>
{% endblock %}