<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Del Sol</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}" />
    {% block estilos %}{% endblock %}
</head>
<body>
    <div class="barra">
        <h3 class="titulo">Clinica Del Sol</h3>
        {% if g.user %}
            <div class="opcion-barra">
                <a href="{{ url_for('logout') }}">Salir</a>
            </div>
            <div class="opcion-barra">
                {{aver.h1}}
            Bienvenido        {{ aver }}
            </div>
        {% elif g.medic %}
            <div class="opcion-barra">
                <a href="{{ url_for('logout2') }}">Salir</a>
            </div>
            <div class="opcion-barra">
                {{aver.h1}}
            Bienvenido        {{ aver }} 
            </div>
        {% elif g.admin %}
            <div class="opcion-barra">
                <div class="opcion-barra">
                    <a href="{{ url_for('logout3') }}">Salir</a>
                </div>
            <div class="opcion-barra">
                {{aver.h1}}
             Bienvenido        {{ aver }} 
            </div>
        {% else %}
            <div class="opcion-barra">
                <a href="{{ url_for('sesion_admin') }}">Administrador</a>
            </div>
            <div class="opcion-barra">
                <a href="{{ url_for('registro') }}">Registarse</a>
            </div>
            <div class="opcion-barra">
                <a href="{{ url_for('sesion') }}">Iniciar Sesion Paciente</a>
            </div>
            <div class="opcion-barra">
                <a href="{{ url_for('sesion_medico') }}">Iniciar Sesion Medico</a>
            </div>
            <div class="opcion-barra">
                <a href="{{ url_for('index') }}" >Home</a>
            </div>  
           
        {% endif %}
    
    </div>

    <div class="contenedor">
        {% if g.user %}
        <div class="encabezado" >
            <img src="{{ url_for('static', filename='images/paciente.png') }}" width="30%" />
        </div>
        {% elif g.medic %}
        <div class="encabezado" >
            <img src="{{ url_for('static', filename='images/medico.png') }}" width="30%" />
        </div>
        {% else %}
        <div class="encabezado" >
            <img src="{{ url_for('static', filename='images/logo.png') }}" />
        </div>
        {% endif %}
    {% block contenido %}
        {% endblock %}
    </div>


    
   
    
</body>


    {% block scripts %}
    {% endblock %}
    <footer class="footer">
        <h4 class="info">CONTACTO </h4>
            <div class="opcion-info">
                <p > <img src="{{ url_for('static', filename='images/telefono.png') }}" width="1.3%">(+57) 2458645 - (+57) 2804567</p>
            </div>
            <div class="opcion-info">
                <p><img src="{{ url_for('static', filename='images/correo.png') }}"   width="1.3%" ><a href="mailto:tudireccion@email.com">Clinica_del_sol@gmail.com</a> </p>
            </div>
        {% block footer %}
        {% endblock %}
    </footer>
</html>