{% extends 'layout.html' %}
{% block contenido %}
<div class="formulario">
    <h2>Lista De Pacientes</h2>
    <table class="tabla">
        <tr>
            
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>correo</th>
            
        </tr>
        {% if lista %}
            {% for item in lista %}
                <tr>
                    
                    <td>{{ item.usuario }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.documento }}</td>
                    <td>{{ item.correo }}</td>
                    
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td colspan="5">No se encontraron citas en la base de datos</td>
                </tr>
        {% endif %}
    </table>

</div>
{% endblock %}